<a href="https://colab.research.google.com/github/RuddiRodriguez/A_crisis/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://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@github.com/RuddiRodriguez/Imbalance_Data.git

Cloning into 'Imbalance_Data'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 21 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (21/21), done.

# Croos_Validation

In [3]:
import pandas as pd

In [13]:
df = pd.read_csv('Imbalance_Data/Data/data.csv',index_col=0)
df.head()

         ID KPI1  KPI2  KPI3    KPI4  ...  KPI33 KPI34 KPI35  KPI36     KPI37
0  38197805   21   999     0       0  ...      0     6     1     34   More_20
3  22055193   23  2561     0  Others  ...      0     9     2      6  Below_20
4  57751311   23  4144     0  Others  ...      0     7     2     43   More_20
5  45131725   23  4032     0  Others  ...      0     2     5     16  Below_20
6  28579338   23  1400     0  Others  ...      0     9     3      0  Below_20

[5 rows x 38 columns]

In [24]:
df.target.value_counts()

0    21468
1      464
Name: target, dtype: int64

In [29]:
df.dtypes

ID         int64
KPI1      object
KPI2       int64
KPI3       int64
KPI4      object
KPI5       int64
KPI6      object
KPI7      object
KPI8       int64
KPI9      object
KPI10      int64
KPI11     object
KPI12      int64
KPI13      int64
KPI14     object
KPI15     object
KPI16     object
KPI17     object
KPI18     object
KPI19     object
KPI20      int64
KPI21     object
KPI22     object
KPI23      int64
target     int64
KPI25     object
KPI26     object
KPI27     object
KPI28     object
KPI29      int64
KPI30      int64
KPI31     object
KPI32      int64
KPI33      int64
KPI34      int64
KPI35      int64
KPI36      int64
KPI37     object
dtype: object

In [33]:
from sklearn.model_selection import train_test_split
X1, Y1 = df[df.select_dtypes('int64').columns].drop(['target','ID'], axis=1), df['target']
X= X1.values
y = Y1.values
trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.2, random_state=2,stratify=y)

In [32]:
df.select_dtypes('int64').columns

Index(['ID', 'KPI2', 'KPI3', 'KPI5', 'KPI8', 'KPI10', 'KPI12', 'KPI13',
       'KPI20', 'KPI23', 'target', 'KPI29', 'KPI30', 'KPI32', 'KPI33', 'KPI34',
       'KPI35', 'KPI36'],
      dtype='object')

In [26]:
train_0, train_1 = len(trainy[trainy==0]), len(trainy[trainy==1])
test_0, test_1 = len(testy[testy==0]), len(testy[testy==1])
print('>Train: 0=%d, 1=%d, Test: 0=%d, 1=%d' % (train_0, train_1, test_0, test_1))

>Train: 0=17174, 1=371, Test: 0=4294, 1=93

# Data Sampling

## Random Data Sampling

### Random Oversampling

In [27]:
# example of random oversampling to balance the class distribution
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

print(Counter(y))
# define oversampling strategy
oversample = RandomOverSampler(sampling_strategy='minority')
# fit and apply the transform
X_over, y_over = oversample.fit_resample(X, y)
# summarize class distribution
print(Counter(y_over))

Counter({0: 21468, 1: 464})
Counter({0: 21468, 1: 21468})

In [35]:
# As part of a pipeline 

# example of evaluating a decision tree with random oversampling
from numpy import mean
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import RandomOverSampler

# define pipeline
steps = [('over', RandomOverSampler()), ('model', DecisionTreeClassifier())]
pipeline = Pipeline(steps=steps)
# evaluate pipeline
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(pipeline, trainX, trainy, scoring='f1_micro', cv=cv, n_jobs=-1)
score = mean(scores)
print('F-measure: %.3f' % score)

F-measure: 0.959

In [39]:
# As part of a pipeline 

# example of evaluating a decision tree with random oversampling
from numpy import mean
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.under_sampling import RandomUnderSampler 

# define pipeline
steps = [('under', RandomUnderSampler()), ('model', DecisionTreeClassifier())]
pipeline = Pipeline(steps=steps)
# evaluate pipeline
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(pipeline, trainX, trainy, scoring='f1_micro', cv=cv, n_jobs=-1)
score = mean(scores)
print('F-measure: %.3f' % score)

F-measure: 0.579

### Smote